<h1>
タスク名の変更ページ</h1>

<%= form_for(@task) do |f| %>
<% if @task.errors.any? %>

    <div id="error_explanation">
      <h2>
<%= pluralize(@task.errors.count, "error") %>
 prohibited this task from being saved:</h2>

      <ul>

<% @task.errors.full_messages.each do |message| %>

          <li>
<%= message %>
</li>

<% end %>

      </ul>
    </div>

<% end %>


<%= f.label :content, '名前' %>


<%= f.text_field :content %>

<%= f.label :content_2, '詳細' %>


<%= f.text_field :content_2 %>

<%= f.label :status, 'status' %>


<%= f.text_field :status %>


<%= f.submit '変更' %>

<% end %>


<%= link_to 'タスクリスト一覧に戻る', tasks_path %>
