<h1>
<%= @task.content %>の詳細</h1>

<li>
<%= @task.content_2 %>
</li>






</ul>

<p>
<%= link_to 'このタスク名を変更する', edit_task_path(@task) %>
</p>

<p>
<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
</p>

<p>
<%= link_to 'タスクリスト一覧に戻る', tasks_path %>
</p>
