<h1>
<%= @task.content %>の詳細ページ</h1>

<table class="table table-bordered">
    <tr>
    <th>順番</th>
    <td>
<%= @task.id %>
</td>
  </tr>
  <tr>
    <th>タスク</th>
    <td>
<%= @task.content %>
</td>
  </tr>
  <tr>
    <th>内容</th>
    <td>
<%= @task.content_2 %>
</td>
  </tr>
  <tr>
    <th>status</th>
    <td>
<%= @task.status %>
</td>
  </tr>
</table>

<p>
<%= link_to '詳細の一部を変更する', edit_task_path(@task), class: 'btn btn-info' %>

<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>

<%= link_to 'タスクリスト一覧に戻る', tasks_path , class: 'btn btn-primary' %>
</p>
